.carousel-inner .carousel-item img{
    object-fit: cover;
    height:80vh;
}
.col{
    display: flex;
}
.card{
    margin: auto;
}

.navbar{
    background-color:  #39658b;
    color: white;
}


.team-cards-container{
    padding: 15px;
    background-color: #AFDBF5;
}